html,
body {
  background-color: transparent;
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
}

.overlay {
  width: 100%;
  height: 100vh;
}

section.begin {
  display: block;
  background-image: url(https://i.pinimg.com/564x/0f/14/28/0f1428cff77e208c6f00d3e1c1a07340.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: fixed;
}

.intro {
  height: 300px;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3c3132;
  color: white;
}

section.intro::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #767373;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
  top: -50px;
  left: 0;
}

section.intro::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #767373;
  clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  bottom: -50px;
  left: 0;
}

.btn-container {
  position: relative;
}

a.old,
a.new {
  position: absolute;
  text-decoration: none;
  background-color: transparent;
  padding: 5px;
  border: 2px white solid;
  height: 20px;
  width: 110px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.new {
  opacity: 0;
}

.btn-container:hover .new {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-container:hover .old {
  opacity: 0;
}

section.projects {
  background-color: white;
  padding: 70px 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.projetlist li a img {
  width: 300px;
  height: 300px;
  transition: all 0.2s;
}

.projetlist li:hover a img {
  transform: scale(1.2);
}

.proj-desc {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.proj-desc span {
  font-weight: bold;
  font-size: 26px;
  display: block;
}

section.team {
  background-color: #3c3132;
  width: 100%;
  padding: 50px 0;
  position: relative;
}

section.team::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #767373;
  top: -49px;
  left: 0;
  clip-path: polygon(0% 90%, 0% 100%, 100% 100%, 100% 0%);
}

section.team::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #767373;
  bottom: -49px;
  left: 0;
  z-index: 3;
  clip-path: polygon(0% 0%, 0% 100%, 100% 10%, 100% 0%);
}

.members li .pic {
  height: 300px;
  width: 300px;
  background-size: cover;
  border-radius: 50%;
  transition: all 0.2s;
}

.members li:hover .pic {
  transform: scale(1.2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.members li .data {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  width: 300px;
}

span.member-name {
  display: block;
  font-size: 30px;
}

section.contact {
  color: white;

  padding: 50px 0 0 0;
  height: 400px;
  background-image: url(https://i.pinimg.com/564x/0f/14/28/0f1428cff77e208c6f00d3e1c1a07340.jpg);
  background-size: cover;
  position: relative;
}

section.contact ul {
  align-items: center;
}

section.contact ul li {
  width: 500px;
  height: 200px;
}

section.contact ul li span {
  display: block;
  font-size: 55px;
  font-weight: bold;
}

section.contact ul li div form {
  position: relative;
  z-index: 2;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form div {
  padding: 5px 0;
  width: 100%;
}

form div input[type='text'] {
  flex-grow: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  margin: 2px;
}

textarea {
  width: 470px;
  margin-right: 50px;
  margin: 2px;
  resize: none;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.ribbon {
  z-index: 0;
  position: absolute;
  background-color: #3c3132;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
}

input[type='button'] {
  border: 3px solid #0a0a0a;
  border-radius: 40px;
  font-size: 25px;
  padding: 3px 20px;
  height: 80px;
  width: 250px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: transparent;
  color: #0a0a0a;
  margin: 0 120px;
  transition: all 0.2s;
}

input[type='button']:hover {
  color: red;
  border: 3px solid red;
}

footer {
  background-color: #3c3132;
  color: white;
  display: flex;
  justify-content: space-around;
}

footer div {
  margin: 20px;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 2px;
}

footer ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
